.button {
	padding: 0.7rem 2rem;
	border-radius: 2rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	border: none;
	outline: none;
	font-size: 0.9rem;
	letter-spacing: 2px;
	background-color: #d5ac4e;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}
