* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito Sans", sans-serif;
	/* outline: 1px dotted red; */
}

::-webkit-scrollbar {
	background-color: #979797;
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #d5ac4e;
	border-radius: 2rem;
}
:root {
	--body-bg-color: #ffffff;
}

.dark-mode {
	--body-bg-color: #1a1a1a;
}
#navHero {
	background: url(/wave.svg) no-repeat center center/cover;
}
body {
	background-color: var(--body-bg-color);
}
main {
	min-height: 500vh;
}

.scroll-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: transparent !important;
	box-shadow: none !important;
	font-size: 2rem !important;
	color: #d5ac4e !important;
	rotate: -45deg;
	transition: all 1s ease-in-out;
	animation: fadeOut 1s ease-in-out forwards;
	visibility: hidden;
}

.scroll-to-top.show {
	animation: fadeIn 1s ease-in-out forwards;
}
.scroll-to-top.hide {
	animation: fadeOut 1s ease-in-out forwards;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}
