* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito Sans", sans-serif;
	/* outline: 1px dotted red; */
}

::-webkit-scrollbar {
	background-color: #979797;
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #d5ac4e;
	border-radius: 2rem;
}
:root {
	--body-bg-color: #ffffff;
}

.dark-mode {
	--body-bg-color: #1a1a1a;
}
#navHero {
	background: url(/wave.svg) no-repeat center center/cover;
}
body {
	background-color: var(--body-bg-color);
}
main {
	min-height: 500vh;
}

.scroll-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: transparent !important;
	box-shadow: none !important;
	font-size: 2rem !important;
	color: #d5ac4e !important;
}
