.hero-section-image {
	width: 25%;
}
.hero-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	width: 100%;
	height: 75vh;
	gap: 10vw;
}
.hero-section-text h1 {
	font-size: 3rem;
}

.hero-section-text {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	gap: 3rem;
}
.identity::after {
	content: "";
	display: block;
	width: 2px;
	height: 100%;
	background-color: #00aec2;
	animation: blink 1.5s infinite step-start;
	opacity: 1;
	left: 10px;
}
.identity {
	display: flex;
	align-items: center;
	gap: 4px;
	height: 2.5vh;
	font-size: 1.7rem;
	width: 100%;
	text-align: left;
}
.identity span {
	color: #00aec2;
	margin: 0 0 0 5px;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
